



<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
   
    <div class="alert alert-danger">
      Are you sure you want to remove {{Attributename}} ?
    </div>

  </div>

  <div class="card-footer">       

      <button class="btn btn-outline-secondary" style="float: right" (click)="onConfirm()" >
      Yes
      
      </button>
      
      <button class="btn btn-outline-secondary" style="float: right;margin-right: 10px;" (click)="onCancel()" >
        Cancel 
        
        
        </button>
      </div>
     
</div>